@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;900&display=swap');

:root {
	--state-gas: 70, 0, 12;
	--state-liquid: 0, 65, 115;
	--state-solid: 225, 225, 225;
	--state-unknown: 120, 120, 120;

	--type-alkaline-metal: 159, 11, 0;
    --type-lanthanoid: 20, 156, 124;
    --type-transition-metal: 9, 98, 222;
    --type-alkaline-earth-metal: 222, 119, 30;
    --type-actinoid: 65, 141, 39;
    --type-post-transition-metal: 209, 25, 129;
    --type-metalloid:  130, 83, 215;
    --type-non-metal: 30, 167, 3;
    --type-halogen: 1, 104, 16;
    --type-noble-gas: 208, 166, 15;
    --type-unknown: 45, 41, 56;

	--background: rgb(0, 0, 8);
	--scale: 15px;
}

html {
	scroll-behavior: smooth;
}

body {
	background: radial-gradient(circle at center, rgb(0, 5, 20), var(--background));
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0;
	padding: 0;
	color: white;
	z-index: 2;
}

body * {
	font-family: 'Rubik', sans-serif;
}

body::-webkit-scrollbar {
	display: none;
}

.full-container {
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-content {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}

.table {
	position: relative;
	top: 1vh;
	left: 0;
	height: 94vh;
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(18, 1fr);
	grid-template-rows: repeat(9, 1fr);
}

.element,
.card {
	will-change: transform, opacity;
	text-align: center;
	aspect-ratio: 1 / 1;
	width: 87%;
	font-size: clamp(1.5vw, calc(2 * var(--scale)), 3vw);
	font-weight: 600;
	color: rgb(225, 225, 225);
	margin-top: calc(0.5 * var(--scale));
	border-radius: calc(0.25 * var(--scale));
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	z-index: 1;
	transition: all 0.15s ease-in-out;
}

.element>p:nth-child(1) {
	position: absolute;
	margin-left: calc(0.25 * var(--scale));
	font-size: calc(0.75 * var(--scale));
	margin-bottom: 0;
	margin-top: calc(0.25 * var(--scale));
}

.element>p:nth-child(2) {
	margin-bottom: 0;
	margin-top: calc(1 * var(--scale));
}

.element-2 {
	grid-column: 18;
}

.element-5 {
	grid-column: 13;
}

.element-13 {
	grid-column: 13;
}

.card {
	text-align: center;
	font-size: calc(0.75 * var(--scale));
	-webkit-text-stroke: 0;
	color: white;
	cursor: default;
}

.card>p {
	margin-top: calc(1 * var(--scale));
	cursor: default;
	-webkit-user-select: none;
	user-select: none;
}

.card.lanthanoids {
	background-color: rgb(var(--type-lanthanoid));
	box-shadow: 0 0 2px 2px rgb(var(--type-lanthanoid));
}

.card.actinoids {
	background-color: rgb(var(--type-actinoid));
	box-shadow: 0 0 2px 2px rgb(var(--type-actinoid));
}

.info-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-self: center;
	width: calc(12 * var(--scale));
	height: fit-content;
	padding: calc(1 * var(--scale));
	border-radius: calc(0.5 * var(--scale));
	transition: transform 0.5s ease-out, left 0.5s ease-out, top 0.5s ease-out;
}

.info-container:not(.info-container[hidden]) {
	pointer-events: all;
	z-index: 3;

	.info {
		z-index: 3;
	}
}

.info-container[rendering] {
	left: calc(2 * var(--scale));
	top: 25%;
}

.info-container:not(.info-container[rendering]) {
	left: 50%;
	transform: translate(-50%);
	top: 25%;
}

.info-container * {
	position: relative;
	margin: 0;
	padding: 0;
}

.info-container>p {
	margin-top: calc(1 * var(--scale));
	font-size: calc(1.125 * var(--scale));
	font-weight: 600;

}

.info {
	align-self: center;
	height: calc(12.5 * var(--scale));
	width: calc(12.5 * var(--scale));
	z-index: 0;
}

.atomic-number {
	top: calc(0.125 * var(--scale));
	left: calc(0.25 * var(--scale));
	width: fit-content;
	height: fit-content;
	font-size: calc(1.5 * var(--scale));
	font-weight: 700;
	vertical-align: text-top;
}

.symbol {
	text-align: center;
	font-size: calc(6 * var(--scale));
	font-weight: 700;
}

.name {
	font-size: calc(1.25 * var(--scale));
	font-weight: 650;
	text-align: center;
}

.atomic-weight {
	font-size: calc(1.25 * var(--scale));
	font-weight: 650;
	text-align: center;
}

html:not(:has(.info-container[hidden])) .table {
	pointer-events: none;
}

html:not(:has(.info-container[hidden])) .indicators-button {
	opacity: 0.5;
}

.render {
	display: none;

	margin: calc(0.5 * var(--scale));
	margin-top: calc(1 * var(--scale));
	padding: calc(0.25 * var(--scale));
	color: rgb(225, 225, 225);
	background-color: rgba(0, 0, 0, 0.2);
	font-size: calc(2 * var(--scale));;
	border-radius: calc(0.5 * var(--scale));
	pointer-events: all !important;
	cursor: pointer;
	z-index: 4;
}

.indicators {
	display: flex;
	flex-direction: column;
	grid-column: 3 / 13;
	grid-row: 1 / 4;
	padding: 0.5rem;
	transform: translateX(-0.5rem);
	align-self: center;
	justify-content: center;
	z-index: 1;
}

.indicators p {
	margin: 0;
	margin-top: calc(0.75 * var(--scale));
	margin-left: calc(1 * var(--scale));
	font-size: clamp(calc(0.5 * var(--scale)), 1vw, calc(1 * var(--scale)));
	font-weight: 800;
	pointer-events: none;
	user-select: none;
}

.indicators span {
	-webkit-user-select: none;
	user-select: none;
	display: inline-block;
	margin: calc(0.4 * var(--scale));
	margin-left: calc(1 * var(--scale));
	padding: calc(0.25 * var(--scale));
	border-radius: calc(0.25 * var(--scale));
	font-size: clamp(calc(0.2 * var(--scale)), 0.8vw, calc(1 * var(--scale)));
	font-weight: 800;
	color: rgb(225, 225, 225);
	transition: all 0.2s ease-in-out;
}

.indicators span.type-indicator {
	cursor: pointer;
}

.indicators div {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.simulation {
	position: relative;
}

.github {
	position: absolute;
	left: 2rem;
	bottom: 1.5rem;
	scale: 2;
	width: fit-content;
	height: fit-content;
}

.github:hover {
	scale: 2.2;
	opacity: 0.8;
	cursor: pointer;
}

.github a:visited {
	color: rgb(225, 225, 225);
}

.github a:link {
	color: rgb(225, 225, 225);
}

@media (max-height: 640px) or (min-aspect-ratio: 2.2/1) {
	:root {
		--scale: 8px
	}

	.indicators span {
		-webkit-user-select: none;
		user-select: none;
		display: inline-block;
		margin: calc(0.3 * var(--scale));
		margin-left: calc(1 * var(--scale));
		padding: calc(0.2 * var(--scale));
		border-radius: calc(0.25 * var(--scale));
		font-size: clamp(calc(0.2 * var(--scale)), 0.7vw, calc(1 * var(--scale)));
		font-weight: 800;
		color: rgb(225, 225, 225);
	}
}