@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Rubik:wght@500;800&display=swap');

:root {
	--state-gas: rgb(101, 0, 0);
	--state-liquid: rgb(0, 65, 115);
	--state-solid: rgb(0, 0, 0);
	--state-unknown: rgb(120, 120, 120);

	--type-alkaline-metal: rgb(60, 0, 0);
	--type-lanthanoid: rgb(0, 74, 74);
	--type-transition-metal: rgb(0, 36, 71);
	--type-alkaline-earth-metal: rgb(15, 15, 60);
	--type-actinoid: rgb(21, 82, 62);
	--type-post-transition-metal: rgb(0, 69, 0);
	--type-metalloid: rgb(39, 53, 0);
	--type-non-metal: rgb(142, 170, 2);
	--type-halogen: rgb(122, 170, 2);
	--type-noble-gas: rgb(170, 159, 2);
	--type-unknown: rgb(120, 120, 120);

	--background: rgb(5, 5, 5);
	--scale: 15px;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--background);
	overflow-x: hidden;
	overflow-y: auto;
	color: white;
	z-index: 2;
}

body * {
	font-family: 'Rubik';
}

body::-webkit-scrollbar {
	display: none;
}

.full-container {
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-content {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}

.table {
	width: 85vw;
	height: 85vh;
	display: grid;
	grid-auto-flow: row;
}

.element,
.card {
	text-align: center;
	aspect-ratio: 1 / 1;
	width: 85%;
	font-size: calc(2 * var(--scale));
	font-weight: 700;
	color: rgb(225, 225, 225);
	margin-top: calc(0.5 * var(--scale));
	border-radius: calc(0.25 * var(--scale));
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	z-index: 1;
	transition: all 0.15s ease-in-out;
}

.element>p:nth-child(1) {
	position: absolute;
	margin-left: 0.25rem;
	font-size: 0.75rem;
	margin-bottom: 0;
	margin-top: calc(0.25 * var(--scale));
}

.element>p:nth-child(2) {
	margin-bottom: 0;
	margin-top: calc(1 * var(--scale));
}

.element-2 {
	grid-column: 18;
}

.element-5 {
	grid-column: 13;
}

.element-13 {
	grid-column: 13;
}

.card {
	text-align: center;
	font-size: calc(0.75 * var(--scale));
	-webkit-text-stroke: 0;
	color: white;
	cursor: default;
}

.card>p {
	margin-top: calc(1 * var(--scale));
	cursor: default;
	-webkit-user-select: none;
	user-select: none;
}

.card.lanthanoids {
	background-color: var(--type-lanthanoid);
	box-shadow: 0 0 2px 2px var(--type-lanthanoid);
}

.card.actinoids {
	background-color: var(--type-actinoid);
	box-shadow: 0 0 2px 2px var(--type-actinoid);
}

.info-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-self: center;
	width: 12rem;
	height: fit-content;
	padding: calc(1 * var(--scale));
}

.info-container:not(.info-container[hidden]) {
	pointer-events: all;
	z-index: 3;
}

.info-container:not(.info-container[hidden]) .info {
	z-index: 3;
}

.info-container * {
	position: relative;
	margin: 0;
	padding: 0;
}

.info-container>p {
	margin-top: calc(1 * var(--scale));
	font-size: calc(1 * var(--scale));
	font-weight: 700;

}

.info {
	align-self: center;
	height: calc(12.5 * var(--scale));
	width: calc(12.5 * var(--scale));
	z-index: 0;
}

.atomic-number {
	top: calc(0.125 * var(--scale));
	left: calc(0.25 * var(--scale));
	width: fit-content;
	height: fit-content;
	font-size: calc(1.5 * var(--scale));
	font-weight: 700;
	vertical-align: text-top;
}

.symbol {
	text-align: center;
	font-size: calc(6 * var(--scale));
	font-weight: 1000;
}

.name {
	font-size: calc(1.25 * var(--scale));
	font-weight: 650;
	text-align: center;
}

.atomic-weight {
	font-size: calc(1.25 * var(--scale));
	font-weight: 650;
	text-align: center;
}

html:not(:has(.info-container[hidden])) *:not(.info-container) {
	pointer-events: none;
}

html:not(:has(.info-container[hidden])) .indicators-button {
	opacity: 0.5;
}

.back {
	position: absolute;
	margin: 2rem;
}

.back,
.render {
	display: none;

	margin: 0.5rem;
	margin-top: 1rem;
	padding: 0.25rem;
	color: rgb(225, 225, 225);
	background-color: rgba(0, 0, 0, 0.2);
	font-size: 2rem;
	border-radius: 0.5rem;
	pointer-events: all !important;
	z-index: 4;
}

.indicators-button {
	position: absolute;
	top: calc(1 * var(--scale));
	left: calc(1 * var(--scale));
	font-size: calc(1.25 * var(--scale));
	font-weight: 700;
	text-align: center;
	width: calc(12 * var(--scale));
	background-color: white;
	border: none;
	border-radius: calc(0.25 * var(--scale));
	box-shadow: 0 0 calc(0.5 * var(--scale)) calc(0.5 * var(--scale)) black;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
}

.indicators {
	position: relative;
	align-self: center;
	width: fit-content;
	background-color: var(--background);
	padding: calc(2 * var(--scale));
	border-radius: calc(1 * var(--scale));
	border: 5px solid rgb(15, 15, 15);
	box-shadow: 0 0 calc(0.5 * var(--scale)) calc(0.5 * var(--scale)) black;
	margin-top: 5rem;
	margin-bottom: 2rem;
	z-index: 1;
}

.indicators>p {
	margin: 0;
	margin-bottom: calc(0.5 * var(--scale));
	font-size: calc(2 * var(--scale));
	font-weight: 800;
}

.indicators span {
	-webkit-user-select: none;
	user-select: none;
	display: inline-block;
	margin: calc(1 * var(--scale));
	padding: calc(0.25 * var(--scale));
	border-radius: calc(0.25 * var(--scale));
	font-size: 2vw;
	font-weight: 800;
	color: rgb(225, 225, 225);
}

.indicators span.type-indicator {
	cursor: pointer;
}

.indicators div {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.simulation {
	pointer-events: none;
	z-index: -1;
}

@media (max-height: 640px) {
	:root {
		--scale: 10px
	}
}